@import '../../styles/_variables.scss';
@import '../../styles/_layout.scss';

$root-class: "link";

.#{$root-class} {
    background: $black;
    color: $white;
    border-radius: 0.4rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-out;
    text-decoration: none;

    &--dark {
        background: $white;
        color: $black;
    }

    &:hover {
        background: $grey;
        color: $white; 
    }
}